@model SalesModel

@{
    ViewData["Title"] = "Add sale";
}

<div class="text-center">
    <h1 class="display-4">Add Sale</h1>
</div>

<form asp-controller="Sales" asp-action="Add" method="post">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Sale identifier (ex: V2024/A/001)</span>
        </div>
        <input type="text" asp-for="SaleIdentifier" class="form-control" placeholder="V2024/A/001">
    </div>
    @Html.ValidationMessageFor(x => x.SaleIdentifier)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Date</span>
        </div>
        <input type="date" asp-for="Date" class="form-control">
    </div>
    @Html.ValidationMessageFor(x => x.Date)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Time</span>
        </div>
        <input type="time" asp-for="Hour" class="form-control">
    </div>
    @Html.ValidationMessageFor(x => x.Hour)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Client</span>
        </div>
        <input type="text" asp-for="Client" class="form-control">
    </div>
    @Html.ValidationMessageFor(x => x.Client)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Products Sold</span>
        </div>
        <textarea asp-for="ProductsSold" class="form-control"></textarea>
    </div>
    @Html.ValidationMessageFor(x => x.ProductsSold)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Observations</span>
        </div>
        <textarea asp-for="Observations" class="form-control"></textarea>
    </div>
    @Html.ValidationMessageFor(x => x.Observations)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Final Price</span>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">&euro;</span>
        </div>
        <input type="number" asp-for="FinalPrice" class="form-control" aria-label="Amount (to the nearest euro)" step="0.01" placeholder="0.00" pattern="^\d+(\.\d{1,2})?$">
        <div class="input-group-append">
            <span class="input-group-text">.00</span>
        </div>
    </div>
    @Html.ValidationMessageFor(x => x.FinalPrice)


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label asp-for="OrderStatus" class="input-group-text" for="saleStatus">State</label>
        </div>
        <select class="custom-select" id="saleStatus">
            <option selected>Choose...</option>
            <option value="Commissioned">Commissioned</option>
            <option value="Processing">Processing</option>
            <option value="Processed">Processed</option>
            <option value="Sent">Sent</option>
        </select>
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label asp-for="Payment" class="input-group-text" for="paidStatus">Paid</label>
        </div>
        <select class="custom-select" id="paidStatus" asp-for="Payment" name="Payment">
            <option selected>Choose...</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        
    </div>

    <button type="submit" class="btn btn-primary btn-block">Add</button>
    <a class="btn btn-secondary btn-block" asp-controller="Sales" asp-action="Index" role="button">Back</a>

</form>
