@model ProductModel

@{
    ViewData["Title"] = "Add Product";
}

<div class="text-center">
    <h1 class="display-4">Add Product</h1>
</div>

<form asp-controller="Product" asp-action="Add" method="post">
    <div class="form-group mb-3">
        <label for="productDescription">Description</label>
        <textarea asp-for="Description" class="form-control" id="productDescription" rows="3" placeholder="Description of the product"></textarea>
    </div>
    @Html.ValidationMessageFor(x => x.Description)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Price</span>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">&euro;</span>
        </div>
        <input type="number" asp-for="Price" class="form-control" aria-label="Amount (to the nearest euro)" step="0.01" placeholder="0.00" pattern="^\d+(\.\d{1,2})?$">
        <div class="input-group-append">
            <span class="input-group-text">.00</span>
        </div>
        @Html.ValidationMessageFor(x => x.Price)
    </div>
    @Html.ValidationMessageFor(x => x.Price)

    <div class="form-group mb-3">
        <label for="productQuantity">Quantity in stock</label>
        <input type="number" asp-for="QuantityStock" class="form-control" id="productQuantity" placeholder="Quantity in stock">
    </div>
    @Html.ValidationMessageFor(x => x.QuantityStock)

    <div class="form-group mb-3">
        <label for="productWeight">Weight</label>
        <input type="text" asp-for="Weigth" class="form-control" id="productWeight" placeholder="Weight of the product">
    </div>
    

    <div class="form-group mb-3">
        <label for="productCategory">Category</label>
        <input type="text" asp-for="Category" class="form-control" id="productCategory" placeholder="Category of the product">
    </div>
    @Html.ValidationMessageFor(x => x.Category)

    <button type="submit" class="btn btn-primary btn-block">Add</button>
    <a class="btn btn-secondary btn-block" asp-controller="Product" asp-action="Index" role="button">Back</a>
</form>
