@model CategoryModel

@{
    ViewData["Title"] = Localizer["DeleteCategoryTitle"];
}

<div class="text-center">
    <h3>@Localizer["DeleteCategoryConfirm"] (@Model.Name)</h3>
</div>

<a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Category" role="button">@Localizer["Back"]</a>
<a class="btn btn-danger btn-block" asp-action="Delete" asp-controller="Category" asp-route-id="@Model.Id" role="button">@Localizer["ConfirmDeletion"]</a>
