@model CategoryModel

@{
    ViewData["Title"] = Localizer["EditCategoryTitle"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["EditCategory"]</h1>
</div>

<form asp-controller="Category" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="categoryName">@Localizer["Name"]</label>
        <input type="text" asp-for="Name" class="form-control" id="categoryName" placeholder="@Localizer["NameCategoryPlaceholder"]" required>
    </div>
    @Html.ValidationMessageFor(x => x.Name)

    <div class="form-group">
        <label for="categoryDescription">@Localizer["Description"]</label>
        <textarea asp-for="Description" class="form-control" id="categoryDescription" rows="3" placeholder="@Localizer["DescriptionCategoryPlaceholder"]"></textarea>
    </div>
    @Html.ValidationMessageFor(x => x.Description)

    <button type="submit" class="btn btn-primary btn-block">@Localizer["Edit"]</button>
    <a class="btn btn-secondary btn-block" asp-controller="Category" asp-action="Index" role="button">@Localizer["Back"]</a>
</form>
